* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  --very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
  --very-dark-desaturated-blue-toggle-background-and-keypad-background: hsl(
    223,
    31%,
    20%
  );
  --very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  /*    Key*/

  --desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --red-key-background: hsl(6, 63%, 50%);
  --dark-red-key-shadow: hsl(6, 70%, 34%);
  --light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --grayish-orange-key-shadow: hsl(28, 16%, 65%);

  /*    Text*/
  --very-dark-grayish-blue: hsl(221, 14%, 31%);

  background: var(--very-dark-desaturated-blue-main-background);
  font-family: "Monospaced", sans-serif;
}

.p1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .p1 {
  cursor: pointer;
}

.themes {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
}

.themes ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.checked {
  color: white;
  background: var(--dark-red-key-shadow);
  padding: 0.5rem;
  width: 140%;
  text-align: center;
  border-radius: 5rem;
  display: block;
  font-weight: 500;
}

.unchecked {
  color: white;
  background: var(--red-key-background);
  padding: 0.5rem;
  width: 140%;
  text-align: center;
  border-radius: 5rem;
  display: block;
  font-weight: 500;
}

.input {
  background: var(--very-dark-desaturated-blue-screen-background);
  padding: 1rem;
  border-radius: 0.8rem;
  text-align: right;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input .p1 {
  font-size: 40px;
}

.keys {
  background: var(
    --very-dark-desaturated-blue-toggle-background-and-keypad-background
  );
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.keys ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.numbers {
  background: var(--light-grayish-orange-key-background);
  padding: 1rem;
  width: 40%;
  text-align: center;
  font-size: 32px;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
}

.del {
  background: var(--desaturated-dark-blue-key-background);
  color: white;
  padding: 1rem;
  width: 30%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
}

.reset {
  background: var(--desaturated-dark-blue-key-background);
  color: white;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
}

.equal {
  background: var(--red-key-background);
  color: white;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
}
